  .container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  button {
    width: 300px;
    padding: 10px;
    background-color: #0f13e7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #081c8f;
  }
  
  .hidden {
    display: none;
  }
footer { 
    position: absolute; 
    bottom: 0; 
    left: 0;
	right: 0; 
   text-align: center;
   padding: 20px;
   background-color: rgb(4, 7, 79);
   color: rgb(166, 166, 166);
   opacity: 0.9;
}
h1 {
  color:  white;
  font-size: 42px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  }
  P {
    color:  white;
    font-size: 22px;
    font-family: Arial, sans-serif;
    }
    /* Rounded Divider*/
hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}
#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  color: white;
  padding: 10px;
  opacity: 0.8;
  display: none;
}

#closeButton {
  float: right;
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

#closeButton:focus {
  outline: none;
}
.custom-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #5D3A6D; /* Dark dim purple */
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.custom-button:hover {
  background-color: #482D54; /* Slightly darker shade on hover */
}